# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Build output
dist/
.next/

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
